@model IEnumerable<Bookstore.Models.Book>

@*apply CSS file*@
<link href="~/Content/StyleSheet.css" rel="stylesheet" />

<h1>Bookstore</h1>

@using (Html.BeginForm("Search", "Home", FormMethod.Post))
{
    <div class="search">
        @Html.TextBox("searchTerm", null, new { placeholder = "Search books..." })
        <button type="submit">Search</button>
    </div>
}

@if (TempData["ConfirmScript"] != null)
{
    <script>
        @(TempData["ConfirmScript"])
    </script>
}

@if (!Model.Any())
{
    <p>No matching books were found.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Book</th>
                <th>Available Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <img src="@book.ImageUrl" style="width:200px;height:300px;margin-top:30px;"/>
                        
                        <br />
                        @book.Name
                    </td>
                    <td>@(book.IsReserved ? "Reserved" : "Available")</td>
                    <td>
                        @if (!book.IsReserved)
                        {
                            using (Html.BeginForm("Reserve", "Home", new { bookId = book.Id }, FormMethod.Post))
                            {
                                <button type="submit">Reserve</button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("Return", "Home", new { bookId = book.Id }, FormMethod.Post))
                            {
                                <button type="submit">Return</button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


